body{
    background-color: slategray;

    margin: 0px;
}
h1{
    color: white;
    font-family: Verdana, sans-serif;
    border-style: solid;
    border-width: 3px;
    border-color: hsl(283, 82%, 24%);
    border-radius: 20px;

    text-shadow: 3px 10px 5px red, -3px -3px 5px black;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}
#box1{
    background-color: white;
    box-shadow: 3px 3px 5px black;
    margin: 50px;
    margin-left: auto;
}
#box2{
    background-color: lightblue;
    box-shadow: 3px 3px 5px black;
    margin: 50px;
    margin: auto;
}
p{
    color: white;
}
#p1{
    color: tomato;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;

    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
    border-left: 3px solid green;
    border-right: 3px solid blue;
}
#p2{
    color: rgb(102, 222, 255);
}
#p3{
    color: #59ff5f;
}
#p4{
    color: hsl(283, 100%, 64%);
}
.odd{
    font-family: sans-serif;
}
.even{
    font-family: cursive;
}